@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #8F87F1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

